@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import'bootstrap/dist/css/bootstrap.min.css';

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-size: 14px;
    color: #000;
    font-family: var(--font-family);
    background-color: var(--green-color);
}

:root{
    --font-family:"Poppins", sans-serif;
    --red-color:#ff0000;
    --yellow-color:#fbff00;
    --green-color:#33cc33;
    --primary-color:#4664ea;
    --secondary-color:#2A3335;
    --border-color:#252525;
    --bg-color:#fff;
}

