@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import'bootstrap/dist/css/bootstrap.min.css';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::after,
::before {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    color: #000;
    font-family: var(--font-family);
    // background-color: var(--green-color);
}

:root {
    // --font-family: "Poppins", sans-serif;
    --font-family: "Inter", sans-serif;
    --red-color: #ff0000;
    --yellow-color: #fbff00;
    --green-color: #33cc33;
    --bg-primary-color: rgba(78, 67, 92, 100);
    --bg-secondary-color: rgba(127, 178, 186, 100);
    --primary-color: rgba(78, 67, 92, 100);
    --secondary-color: #2A3335;
    --border-color: #252525;
    --bg-color: #fff;
    --white-color: rgba(255, 255, 255, 0.9);
    --placeholder-color: rgba(147, 147, 147, 100);
    --info-cmn-clr: #f3ecdb;
    --text-dark: #000;
}

::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ol,
ul,
li,
p {
    padding: 0px;
    margin: 0px;
}

.info-header {
    .navbar-brand {
        display: flex;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        line-height: 25px;
        font-family: "Inter", sans-serif;
        font-weight: bold;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: var(--secondary-color);
            }
        }
    }
}

.info-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 100%;
    .info-login-wrap {
        background: rgba(171, 206, 212, 100%);
        .info-log-titles {
            h4 {
                color: var(--primary-color);
            }
            .input-group {
                border-radius: 25px;
                overflow: hidden;
                .form-control {
                    border-radius: 0px;
                    border: none;
                    padding: 0.65rem 0.75rem;
                    &::placeholder {
                        color: var(--placeholder-color);
                        font-size: 0.75rem;
                    }
                }
                .input-group-text {
                    background: var(--bg-secondary-color);
                    border: none;
                    cursor: pointer;
                }
            }
            .btn-primary {
                background-color: var(--bg-primary-color);
                border-radius: 25px;
                border: none;
                padding: 0.75rem 1rem;
                font-size: 0.75rem;
                text-transform: uppercase;
                font-weight: 700;
                &:hover {
                    background-color: var(--bg-secondary-color);
                    color: var(--white-color);
                    transition: all 0.3s ease-in-out;
                }
            }
            .info-cre-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    color: var(--secondary-color);
                    background: var(--bg-secondary-color);
                    text-decoration: none;
                    border-radius: 25px;
                    padding: 0.65rem 1rem;
                    font-size: 0.75rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    &:hover {
                        background-color: var(--bg-primary-color);
                        transition: all 0.3s ease-in-out;
                        color: var(--white-color);
                    }
                }
            }
            .info-forgot {
                a {
                    background-color: var(--info-cmn-clr);
                    padding: 0.75rem 0.85rem;
                    font-size: 0.70rem;
                    border-radius: 25px;
                    text-decoration: none;
                    color: var(--text-dark);
                    text-decoration: none;
                    &:hover {
                        background: var(--bg-secondary-color);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}